@*@model ProjetoDDD.Aplicacao.MVC.ViewModel.ClienteViewModel*@
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="modal-header">
    <h3>Erro ao excluir</h3>
</div>

<div class="modal-body danger">
    <h4>Existe produto cadastrado para esse cliente</h4>
</div>

<div class="modal-footer">
    <button class="btn" data-dismiss="modal">Ok</button>
</div>

