@{
    ViewBag.Title = "Checar E-mail";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Este é o seu primeiro acesso. Verifique seu e-mail e confirme seu endereço de e-mail.
</p>
@*<a class="btn btn-primary" href="/Account/ReenviarEmail/@ViewBag.User">Reenviar E-mail</a>*@

